<img class="somelogo" src="/assets/dtg-butterfl.png">
<h1> DTG </h1>

</br>


<div class="container-fluid">
  <%=@events.order("date").each_slice(3) do |event_row| %>
    <div class="row">
      <% event_row.each do |event| %>
        <div class="col-md-4 homepage-event-image"> 
            <a href="events/<%=event.id%>" class="event-link" style="background: url(<%=event.image%>) center no-repeat; background-size: contain;"> </a>   
        </div>
      <% end %>
    </div>
  <%end%>
</div>
