<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>One Page CSS Navigation</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css'>
  </head>
  
  <body>

    <div class="ct" id="t1">
      <div class="ct" id="t2">
        <div class="ct" id="t3">


            <section>  
               <ul>
                 <a href="#t1"><li class="icon fa fa-home" id="uno"></li></a>
                 <a href="#t2"><li class="icon fa fa-thumb-tack" id="dos"></li></a>
                 <a href="#t3"><li class="icon fa fa-comments" id="tres"></li></a>
               </ul>
                  <div class="page" id="p1">
                     <li class="icon fa fa-home"><span class="title">ome</span><span class="hint">Like this pen to see the magic!...<br/> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></li>   
                  </div>
                  <div class="page" id="p2">
                    <div id="inside">
                      <p>huh</p>
                      <br>
                    </div>
                  </div>  
                  <div class="page" id="p3">
                    <li class="icon fa fa-comments"><span class="title">Messages</span></li>
                  </div> 
                  <p class="credit"> &copy; Down to Go <a href="https://downtogo.com/">Made in Brooklyn</a></p>
            </section>
                     
        </div>
      </div>
    </div>
  </body>
</html>