// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage-event-image { 
	object-fit: contain;
	width: 250px;
	height: 250px
	}

.homepage-events-table {
	table-layout: fixed;
	word-wrap: break-word;
}

.somelogo {
	padding: 0;
	margin: 0;
}