// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage-event-image { 
	padding: 20px;
	}

.event-link {
	display: block;
	height: 300px;
	width: 100%;
}

.somelogo {
	padding: 0;
	margin: 0;
}

.one-event-image {
}